/**
 * Animations Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@keyframes blinking {
	from { opacity: 0; }
	to { opacity: 1; }
}

.blinking-animation() {
	animation-name: blinking;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(0deg);
	}

	75% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.rotate-animation() {
	animation-name: rotation;
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: 1;
}
