/**
 * Common Definitions
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

// color palette
@color_bright: white;
@color_dark: black;
@color_green: #cbe830;
@color_dark_green: #6a7e02;
@color_gray: #bdc3c7;
@color_blue: #90d7ed;
@color_dark_blue: #054c62;
@color_red: #ffa9a9;
@color_dark_red: #9a0404;
@color_orange: #fda94f;
@color_dark_orange: #894901;

// thematic colors
@color_courses: @color_blue;
@color_program: @color_green;
@color_contact: @color_red;
@color_registration: @color_orange;
@color_background: #30492f;
@color_text: @color_bright;
@color_news_title: @color_green;
@color_header_box_shadow: #515151;
@color_header_border: #d9d9d9;

@squiggle_green: url(../images/squiggle_green.svg);
@squiggle_blue: url(../images/squiggle_blue.svg);
@squiggle_orange: url(../images/squiggle_orange.svg);
@squiggle_red: url(../images/squiggle_red.svg);

// common site spacing
@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;

// regular link with underline
.regular-link() {
	color: @color_green;
	text-decoration: underline;
	transition: all 0.3s;

	&:hover {
		text-decoration: none;
		background-color: lighten(@color_yellow, 30);
		transition: all 0.3s;
	}
}

// regular button with colored background
.regular-button(@background_image, @color) {
	display: inline-block;
	margin: @paragraph_spacing / 4;
	padding: @button_padding;

	border: 0.1rem solid @color_gray;
	border-radius: 0.5rem;
	background:
		@background_image,
		@background_image,
		@background_image;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0px, 1px 0px, 0px 1px;

	color: @color_dark;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1rem;
	transition: all 0.3s;

	&:hover,
	&:focus,
	&:active {
		background: none;
		transition: all 0.3s;
	}
}

// main menu button with single icon
.main-menu-button(@background_color, @svg_stroke_color, @elements: 2) {
	display: inline-block;
	margin-bottom: @paragraph_spacing;

	color: @color_dark;
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	.elements-in-row(@elements, @paragraph_spacing);

	> svg {
		display: block;
		width: 10rem;
		height: 10rem;
		margin-left: auto;
		margin-right: auto;

		border-radius: 0.5rem;
		background-color: @background_color;
		transition: all 0.3s;

		svg:first-child {
			stroke: @svg_stroke_color;
			stroke-width: 1.8;
			fill: none;
		}

		svg:last-child {
			fill: @svg_stroke_color;
			transform: scale(0.95);
		}
	}

	&:hover > svg,
	&:focus > svg {
		transform: scale(1.05);
	}
}

// quick menu button
.quick-menu-button(@color, @elements: 2) {
	display: inline-block;
	margin-bottom: @paragraph_spacing;

	color: @color_dark;
	text-decoration: none;
	transition: all 0.5s;

	.elements-in-row(@elements, @paragraph_spacing);

	> svg {
		display: block;
		width: 2rem;
		height: 2rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.5rem;
		padding: 0.5rem;

		border: 1px solid @color;
		border-radius: 0.8rem;
		background-color: lighten(@color, 90);
		transition: all 0.5s;
	}

	&:hover > svg,
	&:focus > svg {
		.rotate-animation()
	}
}

// popup with different states
.popup() {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80vw;
	box-sizing: border-box;

	box-shadow: 2px 0px 3px fade(@color_dark, 30);
	transform: translate(-50%, -50%);
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;

	&:target {
		pointer-events: auto;
		opacity: 1;
		transition: all 0.3s;
	}
}

.page-main-header(@color, @font_color) {
	padding: 0.5rem;
	background-color: @color;

	color: @font_color;
	text-align: center;
	font-family: 'fb-liddar-regular';
	font-size: 3rem;

	svg {
		width: 2rem;
		height: 2rem;
		display: inline-block;
		vertical-align: middle;
		fill: darken(@color, 50);
		margin-right: 2rem;
		transform: scale(2.5);
		transition: all 0.3s;

		html[dir=rtl] & {
			margin-right: 0;
			margin-left: 2rem;
		}
	}
}

.table-style(@heading_color, @text_color) {
	table-layout: auto;
	min-width: 70%;
	margin: 3rem auto;
	border-collapse: collapse;
	border: 1px solid @color_contact;

	thead > tr > th {
		border: 1px solid @color_contact;
		background-color: @heading_color;
		text-align: center;
		color: @text_color;
		padding: 0.5rem;
	}

	tbody > tr {

		&:nth-child(even) {
			background-color: fade(@color_bright, 10%);
		}

		> td {
			text-align: center;
			border: 1px solid @color_contact;
			padding: 0.5rem;
			color: @text_color;

			a {
				.regular-button(@squiggle_orange, @color_program);
			}

			&:first-of-type {
				background-color: fade(@heading_color, 30%);
			}
		}
	}
}

.button-hover-focus-style() {
	&:hover,
	&:focus {
		transform: scale(1.05);
		transition: transform 0.3s;
	}
}
