/**
 * Content Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

/**
 * Generic style
 */
section {
	article,
	article ul,
	article p,
	article ol {
		font-size: 1.1rem;
	}
}

/*
 * Section header
 */
section.header {
	padding: 0rem calc(~'(100% - 1200px) / 2');
	min-height: 536px;
	max-height: 536px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;

	&.home {
		// home page news container
		div#news {
			width: 500px;
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -80%);
			min-height: 5rem;
			padding: 1rem;

			border: 1px solid @color_bright;
			border-radius: 2rem;
			background-color: fade(@color_dark, 80);

			text-align: center;

			div#controls {
				line-height: 0;
				position: relative;
				color: @color_bright;

				&:after {
					content: "";
					width: 1px;
					height: 400px;
					transform: translate(250px, -165px) rotate(90deg);
					position: absolute;
					background-color: fade(@color_bright, 20);
					top: 0;
					left: 0;
				}
			}

			a.previous {
				display: inline-block;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-right: 8px solid @color_bright;
				z-index: 100;
				vertical-align: middle;
				cursor: pointer;
				transition: all 0.3s;

				&:hover,
				&:active {
					transform: scale(1.1);
					transition: all 0.3s;
				}

				html[dir=rtl] & {
					transform: rotate(180deg);
				}
			}

			p {
				display: inline-block;
				vertical-align: middle;
				margin: 0 3rem;
			}

			a.next {
				display: inline-block;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 8px solid @color_bright;
				z-index: 100;
				vertical-align: middle;
				cursor: pointer;
				transition: all 0.3s;

				&:hover,
				&:active {
					transform: scale(1.1);
					transition: all 0.3s;
				}

				html[dir=rtl] & {
					transform: rotate(-180deg);
				}
			}

			a.news {
				position: absolute;
				top: 3rem;
				left: 0rem;
				right: 0rem;
				padding: 0.3rem;
				opacity: 0;
				pointer-events: none;

				color: @color_gray;
				text-decoration: none;
				transition: all 0.3s;

				&.visible {
					display: block;
					opacity: 1;
					pointer-events: auto;
					transition: all 0.3s;
				}
			}
		}

		// additional links on home page
		nav#other {
			text-align: center;
			width: 400px;
			position: absolute;
			bottom: -4rem;
			left: calc(~'(100% - 900px - 3rem) / 2'); // 3rem is for margin + padding on links so it can be aligned with hamburger menu.
			white-space: nowrap;
			text-align: center;

			html[dir=rtl] & {
				left: unset;
				right: calc(~'(100% - 900px - 1rem) / 2');
				width: 350px;
			}

			a {
				display: inline-block;
				.quick-menu-button(@color_dark, 4);

				transition: all 0.3s;
			}
		}
	}
}

section.main-menu {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	padding-top: 6rem;

	figure {
		display: block;
		width: 570px;
		margin: 0 auto;
		margin-bottom: 2rem;
		padding: 0;
		direction: rtl;
		text-align: center;

		h1 {
			display: inline-block;
			margin: 0;
		}

		svg {
			width: 2rem;
			height: auto;
			transform: scale(1.8);
			display: inline-block;
			vertical-align: super;
		}

		span {
			display: block;
			border-top: 1px solid @color_dark;
			font-size: 1.4rem;
		}
	}

	// main menu
	nav#main {
		width: 1000px;
		box-sizing: border-box;
		display: block;
		margin: 0 auto;

		// menu items
		> a { .main-menu-button(@color_contact, @color_dark_red, 4);}
		> a.program { .main-menu-button(@color_program, @color_dark_green, 4);}
		> a.courses { .main-menu-button(@color_courses, @color_dark_blue, 4);}
		> a.registration { .main-menu-button(@color_registration, @color_dark_orange, 4);}

		// sub-menu popups
		div.popup {
			.popup();
			width: 400px;
			padding: @paragraph_spacing;
			border: 1px solid @color_dark;
			background-color: fade(@color_dark, 80);
			color: @color_bright;

			// close button
			a.close {
				position: absolute;
				top: 0.5rem;
				right: 0.5rem;
				width: @finger_size;
				height: @finger_size;

				border: 1px solid @color_bright;
				border-radius: 50%;
				background-color: @color_dark;

				html[dir=rtl] & {
					right: auto;
					left: 0.5rem;
				}

				&:before,
				&:after {
					position: absolute;
					top: 15%;
					left: calc(~'50% - 0.1rem');
					width: 0.2rem;
					height: 70%;
					content: '';

					background-color: @color_bright;
					line-height: 0;
					transform: rotate(45deg);
					transform-origin: 50% 50%;
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			// popup menu titles
			&#program h3 { color: @color_program; }
			&#courses h3 { color: @color_courses; }
			&#registration h3 { color: @color_registration; }

			h3 svg {
				display: inline-block;
				vertical-align: middle;
				margin-right: @header_spacing / 2;
				fill: currentColor;

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: @header_spacing / 2;
				}
			}

			&#program h3 svg {
				@svg_size: 1.5rem;
				@ratio: 2.83;
				width: @svg_size * @ratio;
				height: @svg_size;
			}

			&#courses h3 svg {
				@svg_size: 1.8rem;
				@ratio: 2.33;
				width: @svg_size * @ratio;
				height: @svg_size;
			}

			&#registration h3 svg {
				@svg_size: 2rem;
				@ratio: 1.72;
				width: @svg_size * @ratio;
				height: @svg_size;
			}

			// popup menus
			nav {
				a {
					display: block;
					.finger-size-padding();

					border-bottom: 1px solid mix(@color_bright, @color_dark, 40);

					color: @color_bright;
					text-decoration: none;
					transition: all 0.3s;

					// skip border on last item
					&:last-of-type {
						border: 0;
					}

					&:active,
					&:focus {
						background-color: @color_bright;
						color: @color_dark;
					}

					&:hover {
						background-color: fade(@color_dark, 50%);
						transition: all 0.3s;
					}
				}
			}
		}
	}

}

section.video {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');

	iframe {
		display: block;
		margin: 0 auto;
	}
}

// inner page menu
nav#page {
	margin: 0;
	padding: 1rem 4rem;

	a {
		.regular-button(@squiggle_orange, @color_registration);
		display: block;
		text-align: center;
		width: 300px;
		margin: 1rem auto;
	}

	p {
		margin: 0;
	}
}

section#program article a {
	.regular-button(@squiggle_green, @color_program);
}

section#course article a {
	.regular-button(@squiggle_blue, @color_courses);
}

section.registration article a {
	.regular-button(@squiggle_orange, @color_registration);
}

section > article > table {
	.table-style(@color_program, @color_dark);
}

section#program > article > table {
	.table-style(@color_program, @color_dark);
}

section#course > article > table {
	.table-style(@color_courses, @color_dark);
}

section.registration > article div.content table {
	.table-style(@color_registration, @color_dark);
}

// news page section
section#news {
	h1 {
		.page-main-header(@color_program, @color_dark);
		margin-bottom: 3rem;
	}

	div.news-article {
		width: 900px;
		margin: 0 auto;
		margin-bottom: @header_spacing;
		padding: 1rem;
		text-align: center;

		background-color: @color_bright;
		color: @color_dark;

		h3 {
			padding-bottom: @header_spacing;
			color: @color_news_title;
			border-bottom: 1px solid @color_gray;
		}

		// highlighted news when clicking from home page carousel
		&:target h3:before {
			display: inline-block;
			content: '';

			width: 0;
			height: 0;
			border: 0.4em solid transparent;
			border-left-color: @color_news_title;

			.blinking-animation();

			html[dir=rtl] & {
				border-left-color: transparent;
				border-right-color: @color_news_title;
			}
		}

		&:target small.timestamp {
			color: mix(@color_bright, @color_dark, 50);
		}

		// compensate fixed header height so block is displayed correctly
		&:target {
			padding-top: 54px;
		}

		// divs not in focus
		&:not(:target) {
			background-color: transparent;
			color: @color_dark;

			h3 {
				color: @color_dark;
			}

			small.timestamp {
				color: @color_dark;
			}
		}

		a {
			.regular-button(@squiggle_green, @color_program);
		}

		// remove margin from last paragraph
		p:last-child {
			margin-bottom: 0;
		}
	}
}


// locations page and popups
section#locations {
	a {
		.regular-button(@squiggle_green, @color_program);
	}
}

// specific pages main headers
section#program article h1,
section#locations h1,
section#location article h1,
section#calendar h1,
header.mobile_title + h1,
section#career h1 {
	.page-main-header(@color_program, @color_dark);
}

section#locations h1,
section#location article h1,
section#career h1,
section#calendar h1 {
	> svg {
		width: 1rem;
		height: 1rem;
		margin-right: 3rem;

		html[dir=rtl] & {
			margin-right: 0;
			margin-left: 3rem;
		}
	}
}

section#course article h1 {
	.page-main-header(@color_courses, @color_dark);
}

section.registration h1 {
	.page-main-header(@color_registration, @color_dark);
}

section#contact h1 {
	.page-main-header(@color_contact, @color_dark);
}

// specific style for program pages
section#program {
	article.about-the-program {
		text-align: center;

		hr {
			margin: 1rem auto;
		}

		h3 {
			margin-top: 1rem;
		}

		ul {
			display: inline-block;
			vertical-align: top;
			width: calc(~'(100% - 400px - 6rem)');
			padding: 0;
			margin: 0;
			margin-left: 1rem;
			padding-right: 1rem;

			li {
				text-align: right;
			}

			html[lang=en] & {
				margin-left: 0;
				padding-right: 0;
				margin-right: 1rem;
				padding-left: 1rem;

				& li {
					text-align: left;
				}
			}
		}

		p:nth-of-type(4) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
		}

		html[lang=en] & p:nth-of-type(5) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			width: auto;
		}

		p:nth-of-type(5) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			width: calc(~'(100% - 400px - 6rem)');
			margin-left: 1rem;
			padding-right: 1rem;
			text-align: right;
		}

		p:nth-of-type(6) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: initial;
		}

		html[lang=en] & p:nth-of-type(6) {
			width: calc(~'(100% - 400px - 6rem)');
			margin-right: 2rem;
		}

		html[lang=en] & p:nth-of-type(9) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: initial;
			width: calc(~'(100% - 400px - 6rem)');
			margin-right: 2rem;
		}

		html[lang=en] & p:nth-of-type(10) {
			display: inline-block;
			vertical-align: top;
			width: auto;
			margin-left: 1rem;
		}

		html[lang=en] & p:nth-of-type(7) {
			display: inline-block;
			vertical-align: top;
			width: auto;
			margin-left: 1rem;
		}

		html[lang=en] & p:nth-of-type(10) {
			text-align: right;
		}

		html[lang=en] & p:nth-of-type(8),
		html[lang=en] & p:nth-of-type(11) {
			display: block;
			padding: 0;
			text-align: center;
			width: auto;
		}

		p:nth-of-type(7) {
			display: block;
			padding: 0;
			text-align: center;
		}

		p:nth-of-type(8) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			width: calc(~'(100% - 400px - 6rem)');
			margin-left: 2rem;
			text-align: initial;
		}

		p:nth-of-type(9) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			width: auto;
		}

		p:nth-of-type(10) {
			display: block;
			padding: 0;
			text-align: center;
		}
	}

	article.about-us {
		text-align: center;

		p:nth-of-type(2) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 200px) / 2');
		}

		p:nth-of-type(3) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: right;
			width: calc(~'(1200px - 3rem) / 2');
		}

		p:nth-of-type(4) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 200px) / 2');
		}

		p:nth-of-type(5) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: right;
			width: calc(~'(1200px - 3rem) / 2');
		}

		> p:nth-of-type(6),
		ul li:nth-of-type(6) p:nth-of-type(2) {
			text-align: right;
		}

		hr {
			margin-top: 70px;
			margin-bottom: 70px;
		}

		ul {
			padding: 0 calc(~'(100% - 700px) / 2');

			li {
				text-align: right;
			}
		}
	}

	article.articles {
		ul {
			padding: 0 calc(~'(100% - 700px) / 2');

			li {
				text-align: right;
			}
		}
	}

	article.sciencenight {
		text-align: center;

		p:nth-of-type(4) {
			display: inline-block;
			padding: 1rem 1rem;
			vertical-align: top;
		}

		p:nth-of-type(5) {
			display: inline-block;
			padding: 1rem 1rem;
			img {
				width: 500px;
				display: block;
				margin: 0 auto;
			}
		}

		p:nth-of-type(6) {
			text-align: center;
		}

		p:nth-of-type(7) {
			img {
				width: 100%;
				margin: 0 auto;
				display: block;
			}
		}

		p:nth-of-type(8) {
			text-align: center;
		}

		hr {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}

	article.news1 {
		ul {
			padding: 0 calc(~'(100% - 700px) / 2');
		}
	}
}

section#course {

	article > ul {
		padding: 0 calc(~'(100% - 700px) / 2');
	}

	article.math-enrichment {
		text-align: center;

		ul {
			padding: 0 calc(~'(100% - 700px) / 2');

			li {
				text-align: right;
			}
		}

		p:nth-of-type(22) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 200px) / 2');
			margin: 2rem 0rem;
		}

		p:nth-of-type(23) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 3rem) / 2');
			margin: 2rem 0rem;
		}

		hr {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		p:nth-of-type(24) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 200px) / 2');
			margin: 2rem 0rem;
		}

		p:nth-of-type(25) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 3rem) / 2');
			margin: 2rem 0rem;
		}

		p:nth-of-type(26) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 200px) / 2');
			margin: 2rem 0rem;
		}

		p:nth-of-type(27) {
			display: inline-block;
			padding: 0;
			vertical-align: top;
			text-align: center;
			width: calc(~'(1200px - 3rem) / 2');
			margin: 2rem 0rem;
		}
	}

	article.acceleration {
		ul {
			padding: 0 calc(~'(100% - 700px) / 2');

			li {
				text-align: right;
			}
		}
	}

	article.academic {
		ul {
			padding: 0 calc(~'(100% - 700px) / 2');
		}
	}
}

section.registration {

	article ul {
		padding: 0 calc(~'(100% - 700px) / 2');
	}

	article.acceptance-registra,
	article.registration-acceptance-revision,
	article.registration-acceptance3,
	article.registration-acceptance2,
	article.registration-acceptance1 {
		ul {
			padding: 0 calc(~'(100% - 700px) / 2');
		}
	}

	article.exposurs_inf_2,
	article.risum23,
	article.transfer,
	article.registration,
	article.exposurs_inf_1,
	article.scholarship-request {
		ul {
			padding: 0 calc(~'(100% - 700px) / 2');
		}
	}
}

// program and course pages
section#program,
section#course {
	article {
		& div.content {
			padding: 1rem calc(~'(100% - 1200px) / 2');
			position: relative;

			// regular page components
			> p {

				> a {
					text-align: center;
				}
			}

			blockquote {

				> p {
					text-align: center;

					> a {
						width: 20%;
					}
				}
			}

			hr {
				display: block;
				height: 1px;
				margin-bottom: @paragraph_spacing;

				border: 0;
				background-color: lighten(@color_dark, 60);
			}
		}
	}
}

section#program div#our_team_images_holder {
	margin: 0 auto;
	height: 350px;
	padding: 1rem 1rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: all 1s;

	figure {
		display: inline-block;
		position: absolute;
		margin: 0;
		top: 50%;
		left: -100%;
		transform: translateY(-50%);
		border: 1px solid darken(@color_bright, 30%);
		transition: all 0.8s;

		html[dir="rtl"] & {
			left: auto;
			right: -100%;
		}

		&.transit {
			transition: none;
		}

		min-height: 130px;
		overflow: hidden;

		&:hover {
			transition: all 0.5s;

			div {
				transform: perspective(150px) rotate3d(1,0,0,0deg);
				transform-style: preserve-3d;
				transform-origin: 50% 0;
				transition: all 0.5s;
			}
		}

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			width: 0;
			vertical-align: middle;
		}

		img {
			vertical-align: middle;
		}

		figcaption {

			> p {
				position: absolute;
				bottom: 5px;
				right: 50%;
				transform: translateX(50%);
			}

			div {
				background-color: @color_program;
				padding: 1rem;
				position: absolute;
				top: 0;
				right: 0;
				width: 90%;
				height: 88%;
				transform: rotate3d(1,0,0,90deg);
				transform-style: preserve-3d;
				transform-origin: 50% 0;
				transition: all 0.5s;

				h3 {
					padding-top: 1rem;
					line-height: 1rem;
				}

				> p {
					line-height: 1;
				}
			}
		}
	}

	a.next,
	a.previous {
		position: absolute;
		top: 50%;
		padding: 1em;

		color: @color_gray;

		transform: translateY(-50%);
		transition: all 0.3s;
		z-index: 10;

		&:before {
			display: inline-block;
			width: 2em;
			height: 2em;

			content: "";

			border: 3px solid transparent;
			border-top-color: currentColor;
			border-right-color: currentColor;
			transition: all 0.3s;
		}

		&:active,
		&:hover {
			color: @color_program;
		}
	}

	a.next {
		left: auto;
		right: 1em;

		html[dir=rtl] & {
			left: 1em;
			right: auto;
		}

		&:before {
			transform: rotate(45deg);
		}

		html[dir=rtl] &:before {
			transform: rotate(-135deg);
		}
	}

	a.previous {
		left: 1em;
		right: auto;

		html[dir=rtl] & {
			left: auto;
			right: 1em;
		}

		&:before {
			transform: rotate(-135deg);
		}

		html[dir=rtl] &:before {
			transform: rotate(45deg);
		}
	}

	h4 {
		width: 100%;
		padding: 1rem;
		margin: 0;
		background-color: fade(@color_green, 80%);

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		transition: transform 0.3s;
	}
}

section#contact {
	article {
		text-align: center;
		padding: 1rem;
		width: 80%;
		margin: 0 auto;

		& h1 {
			display: none;
		}

		& hr {
			width: 60%;
			border: 0;
			border-bottom: 1px solid @color_contact;
			margin-bottom: 1rem;
		}

		p > a {
			.regular-button(@squiggle_red, @color_contact);
		}
	}

	form {
		width: 50%;
		display: block;
		margin: 0 auto;
		padding: 1rem;

		label {
			width: 100%;

			input,
			textarea {
				box-sizing: border-box;
				display: block;
				width: 70%;
				padding: 0.7rem 0.5rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin: 0 auto;
				margin-bottom: 1rem;
				transition: all 0.5s;

				&:hover,
				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			textarea {
				resize: vertical;
			}

			select {
				box-sizing: border-box;
				display: block;
				width: 70%;
				padding: 0.7rem 0.5rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin: 0 auto;
				margin-bottom: 1rem;
				background-color: @color_bright;
				transition: all 0.5s;

				&:hover,
				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			span {
				display: block;
				width: 70%;
				margin: 0 auto;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					background-image: url(../images/form-icons.svg);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 300px 100px;
					width: 50px;
					height: 50px;
				}
			}

			&:nth-of-type(1) span:before {
				background-position: -10px -33px;
			}

			&:nth-of-type(2) span:before {
				background-position: -160px -30px;
			}

			&:nth-of-type(3) span:before {
				background-position: -85px -30px;
			}

			&:nth-of-type(5) span:before {
				background-position: 9px 0px;
				background-size: 400px 115px;
			}

			&:nth-of-type(6) span {
				margin-top: 1.5rem;
				margin-bottom: 1rem;

				&:before {
					display: none;
				}
			}
		}

		div.controls {
			text-align: center;
			margin-top: 1rem;

			button {
				background-color: @color_green;
				// .regular-button();
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}

section#calendar {
	iframe {
		display: block;
		margin: 0 auto;
	}

	article {
		padding: 1rem calc(~'(100% - 1200px) / 2');

		p a,
		a {
			.regular-button(@squiggle_green, @color_program);
		}
	}
}

section#faq {
	article {
		p {
			width: 800px;
			margin: 0 auto;
			margin-bottom: @paragraph_spacing;
			padding: 1rem;
		}

		ul {
			width: 	750px;
			margin: 0 auto;
			margin-bottom: @paragraph_spacing;
		}
	}

	dl {
		width: 800px;
		margin: 0 auto;
		padding: 1rem;
		content: '';

		dt {
			padding: 1rem 0rem;
			padding-right: 2rem;
			margin: 0.5rem 0rem;
			position: relative;


			&:before {
				border-right: 2px solid;
				content: '';
				display: block;
				height: 8px;
				margin-top: -6px;
				position: absolute;
				transform: rotate(130deg);
				// transform: rotate(225deg);
				left: 10px;
				top: 50%;
				width: 0;

				html[dir=rtl] & {
					transform: rotate(225deg);
					left: unset;
					right: 10px;
				}
			}

			&:after {
				border-right: 2px solid;
				content: '';
				display: block;
				height: 8px;
				margin-top: -1px;
				position: absolute;
				left: 10px;
				top: 50%;
				width: 0;
				transform: rotate(45deg);
				// transform: rotate(-40deg);
				transition: all 0.3s;

				html[dir=rtl] & {
					transform: rotate(-40deg);
					left: unset;
					right: 10px;
				}
			}

			&.expanded:after {
				top: 35%;
				left: 15px;
				transform: rotate(-135deg);
				transition: all 0.3s;

				html[dir=rtl] & {
					top: 41%;
					right: 15px;
					transform: rotate(135deg);
					transition: all 0.3s;
				}
			}

			&:nth-of-type(odd) {
				background-color: fade(@color_bright, 20%);
			}

			&:nth-of-type(even) {
				background-color: fade(@color_dark, 10%);
			}
		}

		dd {

			> p {
				padding: 0.5rem;
				padding-right: 1rem;
				font-size: 0.9rem;

				> a {
					.regular-button(@squiggle_orange, @color_registration);
				}
			}
		}
	}
}

section.registration {
	article {

		div.content {
			padding: 0 calc(~'(100% - 1200px) / 2');

			a {
				.regular-button(@squiggle_orange, @color_registration);
			}
		}
	}
}

section#locations,
section#location {
	article {

		p {
			padding: 0 calc(~'(100% - 800px) / 2');

			> img {
				width: 100%;
			}

			a {
				.regular-button(@squiggle_green, @color_program);
			}
		}

	}

	div.location-group {
		padding: 4rem calc(~'(100% - 1200px) / 2');
		text-align: center;

		a {
			.regular-button(@squiggle_green, @color_program);
		}
	}
}

section#career {
	> ul {
		margin: 0;
		padding: 2rem calc(~'(100% - 1100px) / 2');
		list-style-type: none;

		> li {
			display: block;
			padding: 1rem;
			margin-bottom: 2rem;
			background-color: @color_bright;
			color: @color_dark;

			border: 1px solid transparent;
			border-radius: 0.5rem;
			box-shadow: 0px 2px 7px 0px @color_gray;

			position: relative;

			h3 {
				color: @color_green;
				text-align: left;

				html[dir=rtl] & {
					text-align: right;
				}
			}

			a {
				background-color: @color_green;
				.regular-button(@squiggle_green, @color_program);
				position: absolute;
				right: 1rem;
				bottom: 1rem;

				html[dir=rtl] & {
					right: unset;
					left: 1rem;
				}
			}
		}
	}

	article {
		padding: 4rem calc(~'(100% - 1100px) / 2');
	}

	form {
		display: block;
		margin: 0 auto;
		margin-bottom: 2rem;
		padding: 1rem calc(~'(100% - 700px) / 2');

		label {
			width: 100%;

			input {
				box-sizing: border-box;
				display: block;
				width: 70%;
				padding: 0.7rem 0.5rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin: 0 auto;
				margin-bottom: 1rem;
				transition: all 0.5s;

				&:hover,
				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			textarea {
				box-sizing: border-box;
				display: block;
				width: 70%;
				padding: 0.7rem 0.5rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin: 0 auto;
				margin-bottom: 1rem;
				background-color: @color_bright;
				resize: vertical;
				transition: all 0.5s;

				&:hover,
				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			span {
				display: block;
				width: 70%;
				margin: 0 auto;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					background-image: url(../images/form-icons.svg);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 300px 100px;
					width: 50px;
					height: 50px;
				}
			}

			&:nth-of-type(1) span:before {
				background-position: -10px -33px;
			}

			&:nth-of-type(2) span:before {
				background-position: -85px -30px;
			}

			&:nth-of-type(3) span:before {
				background-position: -160px -30px;
			}

			&:nth-of-type(4) span:before {
				display: none;
			}

			&:nth-of-type(4) span {
				padding: 1rem 0.3rem;
				background-color: fade(@color_dark, 30%);
				margin-bottom: 0.5rem;
				margin-top: 1.5rem;
				text-align: center;
			}
		}

		div.controls {
			text-align: center;
			margin-top: 1rem;

			button {
				background-color: @color_green;
				// .regular-button();
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}

div.g-recaptcha > div {
	margin: 0 auto;
}

section#career div.g-recaptcha {
	padding: 1rem 100px;
}

section > article {
	p {
		img {
			max-width: 90%;
		}
	}

	hr {
		margin: 2rem auto;
	}
}

section#search_results {

	h1 {
		.page-main-header(@color_contact, @color_dark);
	}

	& > div {
		padding: @section_spacing calc(~'(100% - 1200px) / 2');

		article {
			.elements-in-row(3, 1rem);
			display: inline-block;
			min-height: 300px;
			margin-bottom: 1rem;
			padding: 1rem;
			vertical-align: top;

			border: 1px solid transparent;
			border-radius: 0.5rem;
			box-shadow: 0px 2px 8px 0px @color_gray;

			p {
				padding: 0rem 1rem;

				a {
					.regular-button(@squiggle_red, @color_contact);
					display: block;
					margin: 0 auto;
				}
			}

			a {
				.regular-button(@squiggle_red, @color_contact);
				display: block;
				margin: 0 auto;
				width: 100px;
			}
		}
	}
}

section#result {
	article {

		h1 {
			padding: 0.5rem;
			background-color: @color_contact;
			color: #000;
			text-align: center;
			font-family: 'fb-liddar-regular';
			font-size: 2.5em;
		}

		p {
			padding: 1rem calc(~'(100% - 800px) / 2');

			a {
				.regular-button(@squiggle_red, @color_registration);
			}

			img:only-child {
				float: left;
				margin: 2rem 2rem;
			}
		}

		blockquote {

			p {
				display: inline-block;
				padding: 0rem 1rem;
				margin: 0 auto;
			}
		}

		ul,
		ol {
			padding: 2rem calc(~'(100% - 700px) / 2');

			li {
				text-align: right;

				a {
					.regular-button(@squiggle_red, @color_registration);
				}
			}
		}

		hr {
			border: 0;
			border-bottom: 1px solid @color_contact;
			margin-top: 50px;
			margin-bottom: 50px;
			clear: left;
		}
	}

}

p.translate_message {
	display: block;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 1rem;
	text-align: center;
}

a#translate_link {
	.regular-button(@squiggle_green, @color_program);
	display: block;
	width: 170px;
	margin: 0 auto;
}

a.news:focus,
a.logo:focus,
div.links > a:focus,
div.copyright > a:focus,
a[href='javascript: void(0);']:focus {
	outline: 1.5px dotted #FF298B;
	outline-offset: 4px;
}

@media only screen and (max-width: 1200px) {
	section#program article div.content,
	section#course article div.content {
		padding: 1rem;
	}
}
