/**
 * Content Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

/**
 * Generic style
 */
section {
	article,
	article ul,
	article p,
	article ol {
		font-size: 1.1rem;
	}
}

// main menu
nav#main {
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;

	// menu items
	> a {
		.main-menu-button(@color_contact, @color_dark_red);

		> svg {
			width: 7rem;
			height: 7rem;
		}
	}

	> a.program {
		.main-menu-button(@color_program, @color_dark_green);

		> svg {
			width: 7rem;
			height: 7rem;
		}
	}

	> a.courses {
		.main-menu-button(@color_courses, @color_dark_blue);

		> svg {
			width: 7rem;
			height: 7rem;
		}
	}

	> a.registration {
		.main-menu-button(@color_registration, @color_dark_orange);

		> svg {
			width: 7rem;
			height: 7rem;
		}
	}

	// sub-menu popups
	div.popup {
		.popup();
		padding: @paragraph_spacing;
		border: 1px solid @color_dark;
		background-color: fade(@color_dark, 80);
		color: @color_bright;

		// close button
		a.close {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			width: @finger_size;
			height: @finger_size;

			border: 1px solid @color_bright;
			border-radius: 50%;
			background-color: @color_dark;

			html[dir=rtl] & {
				right: auto;
				left: 0.5rem;
			}

			&:before,
			&:after {
				position: absolute;
				top: 15%;
				left: calc(~'50% - 0.1rem');
				width: 0.2rem;
				height: 70%;
				content: '';

				background-color: @color_bright;
				line-height: 0;
				transform: rotate(45deg);
				transform-origin: 50% 50%;
			}

			&:after {
				transform: rotate(-45deg);
			}
		}

		// popup menu titles
		&#program h3 { color: @color_program; }
		&#courses h3 { color: @color_courses; }
		&#registration h3 { color: @color_registration; }

		h3 {
			text-align: left;

			html[dir=rtl] & {
				text-align: right;
			}
		}

		h3 svg {
			display: inline-block;
			vertical-align: middle;
			margin-right: @header_spacing / 2;
			fill: currentColor;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: @header_spacing / 2;
			}
		}

		&#program h3 svg {
			@svg_size: 1.5rem;
			@ratio: 2.83;
			width: @svg_size * @ratio;
			height: @svg_size;
		}

		&#courses h3 svg {
			@svg_size: 1.8rem;
			@ratio: 2.33;
			width: @svg_size * @ratio;
			height: @svg_size;
		}

		&#registration h3 svg {
			@svg_size: 2rem;
			@ratio: 1.72;
			width: @svg_size * @ratio;
			height: @svg_size;
			margin: 0;
		}

		// popup menus
		nav {
			a {
				display: block;
				.finger-size-padding();

				border-bottom: 1px solid mix(@color_bright, @color_dark, 40);

				color: @color_bright;
				text-decoration: none;

				// skip border on last item
				&:last-of-type {
					border: 0;
				}

				&:active,
				&:focus {
					background-color: @color_bright;
					color: @color_dark;
				}
			}
		}
	}
}

section.header {
	min-height: calc(~'(536 / 1920) * 800px');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

section.main-menu {
	padding-top: 80px;

	figure {
		display: block;
		margin: 0 auto;
		padding: 1rem;
		direction: rtl;

		text-align: center;

		h1 {
			display: inline-block;
			margin: 0;
			font-size: 1.2rem;
			background-color: @color_bright;
			padding: 0;
		}

		svg {
			width: 2rem;
			height: auto;
			transform: scale(1.6);
			display: inline-block;
			vertical-align: super;
		}

		span {
			display: block;
			border-top: 1px solid @color_dark;
			font-size: 0.8rem;
		}
	}
}

// additional links on home page
nav#other {
	margin: 0;
	padding: 0 4rem;
	box-sizing: border-box;
	text-align: center;

	a {
		display: inline-block;

		.quick-menu-button(@color_dark, 2);
	}
}


// inner page menu
nav#page {
	margin: 0;
	padding: 1rem 4rem;

	a {
		.regular-button(@squiggle_orange, @color_registration);
		display: block;
		text-align: center;
	}

	p {
		margin: 0;
	}
}


// home page news container
div#news {
	position: absolute;
	min-height: 5rem;
	padding: 1rem;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	width: 85%;

	border: 0.1rem solid fade(@color_gray, 50);
	border-radius: 2rem;
	background-color: fade(@color_dark, 80);
	color: @color_bright;

	text-align: center;

	div#controls {
		line-height: 0;
		position: relative;

		&:after {
			content: "";
			width: 1px;
			height: 75vw;
			transform: translate(50%, -40%) rotate(90deg);
			position: absolute;
			background-color: fade(@color_bright, 20);
			top: 30%;
			left: 50%;
		}
	}

	a.previous {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid @color_bright;
		z-index: 100;
		vertical-align: middle;
		cursor: pointer;

		html[dir=rtl] & {
			transform: rotate(180deg);
		}
	}

	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2rem;
	}

	a.next {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid @color_bright;
		z-index: 100;
		vertical-align: middle;
		cursor: pointer;

		html[dir=rtl] & {
			transform: rotate(-180deg);
		}
	}

	a.news {
		position: absolute;
		top: 3.5rem;
		left: 0rem;
		right: 0rem;
		padding: 0.3rem;
		opacity: 0;
		pointer-events: none;

		color: @color_gray;
		text-decoration: none;

		&.visible {
			display: block;
			opacity: 1;
			pointer-events: auto;
		}
	}
}

section {
	min-height: 52vh;
}

section > article > table {
	.table-style(@color_program, @color_dark);
	min-width: 90%;
}

section#program > article > table {
	.table-style(@color_program, @color_dark);
	min-width: 90%;
}

section#course > article > table {
	.table-style(@color_courses, @color_dark);
	min-width: 90%;
}

section.registration > article div.content table {
	.table-style(@color_registration, @color_dark);
	min-width: 90%;
}

// news page section
section#news {
	position: relative;

	// page image
	div.header-images img {
		width: 100%;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	h1 {
		margin-bottom: 3rem;
	}

	div.news-article {
		margin: 0 auto;
		margin-bottom: @header_spacing;
		width: 80%;
		padding: 1rem;

		background-color: @color_bright;
		color: @color_dark;

		h3 {
			padding-bottom: @header_spacing;
			color: @color_news_title;
			border-bottom: 1px solid @color_gray;
		}

		// highlighted news when clicking from home page carousel
		&:target h3:before {
			display: inline-block;
			content: '';

			width: 0;
			height: 0;
			border: 0.4em solid transparent;
			border-left-color: @color_news_title;

			.blinking-animation();

			html[dir=rtl] & {
				border-left-color: transparent;
				border-right-color: @color_news_title;
			}
		}

		// compensate fixed header height so block is displayed correctly
		&:target {
			padding-top: 54px;
		}

		// divs not in focus
		&:not(:target) {
			background-color: transparent;
			color: @color_dark;

			h3 {
				color: @color_dark;
			}
		}

		a {
			.regular-button(@squiggle_green, @color_program);
		}

		// remove margin from last paragraph
		p:last-child {
			margin-bottom: 0;
		}

		small.timestamp {
			color: mix(@color_bright, @color_dark, 50);
		}
	}
}


// locations page and popups
section#locations {

	a {
		.regular-button(@squiggle_green, @color_program);
	}
}

div.header-images {
	line-height: 0;
}

div.header-images + div.header-images {
	display: none;
}

// specific pages main headers
section#program article h1,
section#locations h1,
section#location article h1,
section#calendar h1,
header.mobile_title + h1 {
	.page-main-header(@color_program, @color_dark);
}

section#course article h1 {
	.page-main-header(@color_courses, @color_dark);
}

section.registration h1 {
	.page-main-header(@color_registration, @color_dark);
}

section#contact h1 {
	.page-main-header(@color_contact, @color_dark);
}

section#locations h1,
section#location article h1,
section#career h1,
section#calendar h1 {
	> svg {
		width: 1rem;
		height: 1rem;
		margin-right: 3rem;

		html[dir=rtl] & {
			margin-right: 0;
			margin-left: 3rem;
		}
	}
}

// program and course pages
section#program,
section#course {
	position: relative;

	// page image
	div img {
		width: 100%;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	article {
		position: relative;

		div.content {
			padding: 1rem;
		}

		// regular page components
		> p {
			padding: 0 @paragraph_spacing;

			& img {
				max-width: 100%;
			}

			> a {
				.elements-in-row(2, 1rem);
				text-align: center;
			}
		}

		blockquote {
			margin: 0;
			padding: 0 1rem;

			& > p {
				text-align: center;

				& > a {
					width: 55vw;
				}
			}
		}



		hr {
			display: block;
			height: 1px;
			margin-bottom: @paragraph_spacing;

			border: 0;
			background-color: lighten(@color_dark, 60);
		}

		> ul,
		> ol {
			padding: 2rem (@paragraph_spacing * 2);
		}
	}
}

// specific style for program pages
section#program {

	article.about-the-program {
		hr {
			margin-top: 50px;
			margin-bottom: 50px;
			width: 90%;
			height: 0;
			border: 0;
			border-bottom: 1px solid @color_dark;

		}

		p,
		h3 {
			padding: 0rem 1rem;
		}

		p:nth-of-type(6) {
			text-align: center;
		}

		p:nth-of-type(9) {
			text-align: center;
		}
	}

	article.about-us {

		p:nth-of-type(2) img,
		p:nth-of-type(4) img {
			width: 200px;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		ul {
			padding: 0rem 2rem;
		}

		hr {
			margin-top: 20px;
			margin-bottom: 20px;
			width: 90%;
			height: 0;
			border: 0;
			border-bottom: 1px solid @color_dark;

		}
	}

	article.news1 {
		padding: 0 2rem;
	}

	article a {
		.regular-button(@squiggle_green, @color_program);
	}
}

section#program div#our_team_images_holder {
	display: block;
	padding: 1em 0.5em;
	margin: 0 auto;
	text-align: center;

	figure {
		.elements-in-row(2, 0.5em);
		display: inline-block;
		text-align: center;
		border: 1px solid darken(@color_bright, 30%);
		transition: all 0.5s;
		vertical-align: middle;
		position: relative;

		img {
			width: auto;
			display: block;
			margin: 0 auto;
			min-height: auto;
		}

		figcaption {

			h4 {
				box-sizing: border-box;
				font-size: 1rem;
				width: 100%;
				padding: 0.2rem;
				margin: 0;
				background-color: fade(@color_green, 80%);

				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				transition: transform 0.3s;
			}

			div {
				background-color: @color_program;
				padding: 1rem;
				position: absolute;
				top: 0;
				right: 0;
				width: 84%;
				height: 80%;
				transform: rotate3d(1,0,0,90deg);
				transform-style: preserve-3d;
				transform-origin: 50% 0;
				transition: all 0.3s;

				&.toggle {
					transform: perspective(150px) rotate3d(1,0,0,0deg);
					transform-style: preserve-3d;
					transform-origin: 50% 0;
					transition: all 0.3s;
				}

				&.toggle * {
					font-size: 1rem;
					color: @color_bright;
				}

				h3 {
					padding-top: 1rem;
					line-height: 1rem;
				}

				> p {
					line-height: 1;
				}
			}
		}
	}
}

section#course article a {
	.regular-button(@squiggle_blue, @color_courses);
}

div.g-recaptcha  > div {
	margin: 0 auto;
}

section#contact {
	div img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	article {
		text-align: center;
		padding: 1rem;
		margin: 0 auto;

		& h1 {
			display: none;
		}

		& hr {
			height: 0px;
			width: 80%;
			background-color: @color_contact;
			margin-bottom: 1rem;
		}

		p > a {
			.regular-button(@squiggle_red, @color_contact);
		}
	}

	form {
		padding: 1rem;

		label {
			width: 100%;

			input,
			textarea {
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 0.7rem 0.2rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin-bottom: 1rem;
				transition: all 0.5s;

				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			select {
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 0.7rem 0.2rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin-bottom: 1rem;
				background-color: @color_bright;
				transition: all 0.5s;

				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			span {
				display: block;
				width: 50%;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					background-image: url(../images/form-icons.svg);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 300px 100px;
					width: 50px;
					height: 50px;
				}
			}

			&:nth-of-type(1) span:before {
				background-position: -10px -33px;
			}

			&:nth-of-type(2) span:before {
				background-position: -160px -30px;
			}

			&:nth-of-type(3) span:before {
				background-position: -85px -30px;
			}

			&:nth-of-type(5) span:before {
				background-position: 9px 0px;
				background-size: 400px 115px;
			}

			&:nth-of-type(6) span {
				margin-top: 1.5rem;
				margin-bottom: 1rem;

				&:before {
					display: none;
				}
			}
		}

		div.controls {
			text-align: center;
			margin-top: 1rem;

			button {
				// .regular-button();
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}

section#faq {
	article p {
		padding: 1rem;
	}

	dl {
		padding: 1rem;

		dt {
			padding-bottom: 0.5rem;

			&:before {
				display: inline-block;
				width: 0;
				height: 0;
				content: '';

				border: 5px solid transparent;
				border-left-color: @color_dark;
				transform: rotate(0deg);
				transition: transform 0.5s;

				html[dir=rtl] & {
					border-left-color: transparent;
					border-right-color: @color_dark;
				}
			}

			&.expanded:before {
				transform: rotate(90deg);
			}

			html[dir=rtl] &.expanded:before {
				transform: rotate(-90deg);
			}
		}

		dd {

			> p {
				padding: 0.5rem;
				padding-right: 1rem;
				border-right: 1px solid @color_bright;
				font-size: 0.9rem;

				> a {
					.regular-button(@squiggle_orange, @color_registration);
				}
			}
		}
	}
}

section.registration {

	article {
		a {
			.regular-button(@squiggle_orange, @color_registration);
		}

		p {
			padding: 0 1.5rem;

			> img {
				width: 100%;
			}
		}

		ul,
		ol {
			padding: 0rem 1.5rem;
			list-style-type: none;
		}

		ul li {

			p {
				padding: 0;
			}
		}
	}

	// page image
	div img {
		width: 100%;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

}

section#locations,
section#location {
	div img.thumbnail {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	article {
		a {
			.regular-button(@squiggle_green, @color_program);
		}

		p {
			padding: 0 1rem;

			> img {
				width: 100%;
			}
		}

		h3 {
			padding: 0 1rem;
		}

	}

	div {
		padding: 2rem 1rem;
		text-align: center;

		&.header-images {
			padding: 0;
		}
	}
}

section#calendar {
	position: relative;

	div img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: (1 / 1.49);
		min-height: 100vw * @ratio;
	}

	article {
		padding: 1rem;

		a {
			.regular-button(@squiggle_green, @color_program);
		}
	}
}

section#career {

	h1 {
		.page-main-header(@color_program, @color_dark);

		svg {
			width: 1rem;
			height: 1rem;
		}
	}

	div img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		@ratio: 1 / 1.49;
		min-height: 100vw * @ratio;
	}

	> ul {
		margin: 0;
		padding: 2rem 2rem;
		list-style-type: none;

		> li {
			display: block;
			padding: 1rem 1rem;
			margin-bottom: 2rem;
			background-color: @color_bright;
			color: @color_dark;
			text-align: center;

			border: 1px solid transparent;
			border-radius: 0.5rem;
			box-shadow: 0px 2px 7px 0px @color_gray;

			h3 {
				color: @color_green;
			}

			a {
				.regular-button(@squiggle_green, @color_program);
				margin-top: 1rem;
			}
		}
	}

	article {
		padding: 1rem 2rem;
	}

	form {
		padding: 1rem;

		label {
			width: 100%;

			input {
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 0.7rem 0.2rem;
				border: 1px solid transparent;
				border-radius: 3px;
				margin-bottom: 1rem;
				transition: all 0.5s;

				&:focus {
					border: 1px solid @color_green;
					transition: all 0.5s;
				}
			}

			span {
				display: block;
				width: 50%;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					background-image: url(../images/form-icons.svg);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 300px 100px;
					width: 50px;
					height: 50px;
				}
			}

			&:nth-of-type(1) span:before {
				background-position: -10px -33px;
			}

			&:nth-of-type(2) span:before {
				background-position: -85px -30px;
			}

			&:nth-of-type(3) span:before {
				background-position: -160px -30px;
			}

			&:nth-of-type(4) span:before {
				display: none;
			}

			&:nth-of-type(4) span {
				width: 97%;
				text-align: center;
				padding: 0.3rem;
				background-color: fade(@color_dark, 30%);
				margin-bottom: 0.5rem;
				margin-top: 1.5rem;
				text-align: center;
			}
		}

		div.controls {
			text-align: center;
			margin-top: 1rem;

			button {
				// .regular-button();
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}

section#search_results {
	h1 {
		.page-main-header(@color_contact, @color_dark);
	}

	div {
		padding: 1rem;
	}

	article {
		padding: 1rem;
		margin-bottom: 1rem;
		text-align: center;

		border: 1px solid transparent;
		border-radius: 0.5rem;
		box-shadow: 0px 2px 8px 0px @color_gray;

		p {
			padding: 0rem 1rem;

			a {
				.regular-button(@squiggle_red, @color_contact);
				display: block;
				margin: 0 auto;
			}
		}

		a {
			.regular-button(@squiggle_red, @color_contact);
			display: block;
			margin: 0 auto;
			width: 100px;
		}
	}
}

section#result {

	article {

		h1 {
			padding: 0.5rem;
			background-color: @color_contact;
			color: #000;
			text-align: center;
			font-family: 'fb-liddar-regular';
			font-size: 2.5em;
		}

		h3 {
			padding: 0rem 0.5rem;
		}

		p {
			padding: 1rem 1rem;

			a {
				.regular-button(@squiggle_red, @color_contact);
			}

			img {
				width: 80%;
				display: block;
				margin: 0 auto;
			}
		}

		blockquote {

			p {
				display: inline-block;
				padding: 0rem 1rem;
				margin: 0 auto;
			}
		}

		ul,
		ol {
			padding: 0rem 2rem;

			li {
				text-align: right;

				p {
					padding: 0;
				}

				a {
					.regular-button(@squiggle_red, @color_contact);
				}
			}
		}

		hr {
			width: 90%;
			border: 0;
			border-bottom: 1px solid @color_contact;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}

p.translate_message {
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1rem;
	text-align: center;
}

a#translate_link {
	.regular-button(@squiggle_green, @color_program);
	display: block;
	width: 50%;
	margin: 0 auto;
}
