/**
 * Footer Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

footer {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	text-align: center;

	> svg {
		width: 130px;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	> span {
		display: block;
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 0;
		font-size: 1.5rem;
		font-weight: bold;
	}

	div.links {
		text-align: center;

		a {
			color: @color_dark;
			text-decoration: none;
			font-size: 1.2rem;
		}

		a[href*="math.biu.ac.il"] {
			display: block;
			.finger-size-padding();

			svg {
				fill: currentColor;
				max-height: 4rem;
				width: 70%;
				vertical-align: middle;
			}

			img {
				width: 250px;
				height: auto;
			}
		}

		a[href*="facebook.com"] {
			display: block;
			.finger-size-padding();

			font-size: 1.2rem;

			svg {
				display: inline-block;
				vertical-align: middle;
				width: 1.75rem;
				height: 1.75rem;
				margin-left: @paragraph_spacing / 2;

				html[dir=rtl] & {
					margin-right: @paragraph_spacing / 2;
					margin-left: 0;
				}
			}
		}
	}
}

div.copyright {
	text-align: center;
	background-color: @color_bright;
	background-position: calc(~'50% - 100px');
	color: @color_dark;
}
