/**
 * Footer Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

footer {

	text-align: center;

	> svg {
		width: 25%;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	span {
		font-size: 0.95rem;
	}

	p {
		padding: 0 3.5rem;
		margin-bottom: 0;
		font-size: 1.1rem;
		font-weight: bold;
	}

	div.links {
		padding: 1rem;
		padding-top: 0;

		text-align: center;

		a {
			color: @color_dark;
			text-decoration: none;
			font-size: 1.2rem;
		}

		a[href*="math.biu.ac.il"] {
			display: inline-block;
			padding: 1rem;

			svg {
				max-height: 4rem;
				width: 70%;
			}

			img {
				width: 50%;
				height: auto;
			}
		}

		a[href*="facebook.com"] {
			display: inline-block;
			.finger-size-padding();

			font-size: 1.2rem;

			svg {
				display: inline-block;
				vertical-align: middle;
				width: 1.75rem;
				height: 1.75em;
				margin-left: @paragraph_spacing / 2;

				html[dir=rtl] & {
					margin-right: @paragraph_spacing / 2;
					margin-left: 0;
				}
			}
		}
	}
}

div.copyright.light {
	padding-left: 110px;
	background-position: 50px center;
}
