/**
 * Header Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	@size: 2.3rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: (@header_spacing / 2) calc(~'(100% - 900px) / 2');

	background-color: fade(@color_bright, 40);
	box-shadow: 0px 2px 10px 0px @color_header_box_shadow;
	border-bottom: 1px solid @color_header_border;

	line-height: 0;
	text-align: center;
	z-index: 10000;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: background-color 0.5s;

	&.active {
		background-color: @color_bright;
	}

	> a {
		display: inline-block;

		svg {
			display: inline-block;
			fill: @color_dark;
			max-height: @size;
		}

		&.logo {
			display: flex;
			align-items: baseline;
			text-decoration: none;
			color: #000;
			font-size: 1.5rem;
			font-weight: bold;
			direction: rtl;

			svg {
				width: 2rem;
				height: auto;
				transform: scale(1.6);
			}
		}
	}

	// popup menu container
	div.menu {
		display: inline-block;
		position: relative;

		// dummy link hovering which shows the menu
		> a {
			display: inline-block;
			width: @size;

			svg {
				width: 100%;
				display: inline-block;
				fill: @color_dark;
				max-height: @size;
			}

			span#hidden_menu_text {
				position: absolute;
				left: -10000px;
				overflow: hidden;
				width: 1px;
				height: 1px;
			}
		}

		// menu items container
		> nav {
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 400px;
			padding: 2px;

			html[dir=rtl] & {
				left: unset;
				right: 0;
			}

			opacity: 0;
			pointer-events: none;

			background-color: fade(@color_dark, 80);
			box-shadow: 0px 2px 3px fade(@color_dark, 50);
			transition-delay: 0.6s;

			&.input-focused {
				opacity: 1;
				pointer-events: auto;
				transition-delay: 0.3s;
			}

			form {
				padding: 0.5rem;
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				label {
					width: 70%;

					input {
						width: 95%;
						padding: 0.5rem 0.5rem;
						border: 1px solid transparent;
						border-radius: 3px;
						display: block;
						margin: 0 auto;

						background-image: url(../images/search_icon.svg);
						background-size: 2rem auto;
						background-repeat: no-repeat;
						background-position: 5% center;
						padding-left: 3rem;
						transition: all 0.3s;

						html[dir=rtl] & {
							background-position: 95% center;
							padding-left: 0;
							padding-right: 3rem;
						}

						&:hover,
						&:focus {
							border: 1px solid @color_green;
							transition: all 0.3s;
						}
					}
				}

				button {
					padding: @button_padding;
					border: 1px solid lighten(@color_dark, 80);
					border-radius: 0.5rem;

					color: @color_dark;
					cursor: pointer;
					background-color: lighten(@color_dark, 90);
					text-decoration: none;
					transition: all 0.3s;

					&:hover,
					&:focus,
					&:active {
						background-color: lighten(@color_dark, 70);
						transition: all 0.3s;
					}
				}
			}


			// menu items
			a {
				display: block;
				padding: 0.5em;

				color: @color_bright;
				text-align: left;
				text-decoration: none;
				line-height: 1;
				cursor: pointer;
				transition: all 0.3s;

				html[dir=rtl] & {
					text-align: right;
				}

				svg {
					display: inline-block;
					vertical-align: middle;
					width: 2.2rem;
					height: 2.2rem;
					margin-right: @header_spacing / 2;
					fill: currentColor;

					html[dir=rtl] & {
						margin-right: 0;
						margin-left: @header_spacing / 2;
					}
				}

				&:hover,
				&:focus {
					background-color: darken(@color_bright, 60%);
					color: @color_bright;
					transition: all 0.3s;
				}

				// menu section colors
				&.program {
					color: @color_program;

					&:hover,
					&:focus {
						background-color: darken(@color_program, 30%);
						color: @color_bright;
						transition: all 0.3s;
					}
				}

				&.courses {
					color: @color_courses;

					&:hover,
					&:focus {
						background-color: darken(@color_courses, 20%);
						color: @color_bright;
						transition: all 0.3s;
					}
				}

				&.registration {
					color: @color_registration;

					&:hover,
					&:focus {
						background-color: darken(@color_registration, 20%);
						color: @color_bright;
						transition: all 0.3s;
					}
				}

				&.contact {
					color: @color_contact;

					&:hover,
					&:focus {
						background-color: @color_contact;
						color: @color_bright;
						transition: all 0.3s;
					}
				}

				// allow highlight only on links with href
				&.contact:hover,
				&.contact:focus {
					color: @color_bright;
					background-color: @color_contact;
					transition: all 0.3s;
				}

				// custom inner menu highliths
				&.program + nav a:hover,
				&.program + nav a:focus {
					background-color: darken(@color_program, 20);
					transition: all 0.3s;
				}

				&.courses + nav a:hover,
				&.courses + nav a:focus {
					background-color: darken(@color_courses, 20);
					transition: all 0.3s;
				}

				&.registration + nav a:hover,
				&.registration + nav a:focus {
					background-color: darken(@color_registration, 20);
					transition: all 0.3s;
				}
			}

			// second level menus
			nav {
				display: none;

				&.active {
					display: block;
				}

				a {
					display: block;
					padding: 0.5em;
					padding-left: 2.5em;


					html[dir=rtl] & {
						padding-right: 2.5em;
					}
				}
			}
		}

		.visible-nav {
			opacity: 1;
			pointer-events: auto;
			transition-delay: 0.1s;
		}

		&:hover > nav,
		&:focus > nav {
			.visible-nav;
		}
	}

	div.language_menu {
		display: inline-block;
		line-height: initial;

		> a {
			display: block;
			color: @color_dark;
			transition: all 0.3s;

			&:first-of-type {
				margin-bottom: 0.5rem;
			}

			&:not(.active) {
				text-decoration: none;
			}

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}
		}
	}
}
