/**
 * Header Mobile Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	@size: 2.3rem;

	padding: 0 0.5rem;

	background-color: fade(@color_bright, 40);
	box-shadow: 0px 2px 10px 0px @color_header_box_shadow;
	border-bottom: 1px solid @color_header_border;
	line-height: 0;

	display: flex;
	align-items: center;

	transition: background-color 0.5s;

	&.active {
		background-color: @color_bright;
	}

	> a {
		display: inline-block;

		svg {
			display: inline-block;
			fill: @color_bright;
			max-height: @size;
		}

		&.logo {
			display: flex;
			align-items: baseline;
			text-decoration: none;
			color: #000;
			font-size: 1.2rem;
			font-weight: bold;
			direction: rtl;
			margin-left: 1rem;

			html[dir=rtl] & {
				margin-left: 0;
				margin-right: 1rem;
			}

			svg {
				width: 2rem;
				height: auto;
				transform: scale(1.6);
			}
		}

		&.menu svg {
			width: @size;
		}
	}

	// popup menu container
	div.menu {
		display: inline-block;
		position: relative;
		padding: 0.5rem 0rem 0.5rem 0.5rem;

		html[dir=rtl] & {
			padding: 0.5rem 0.5rem 0.5rem 0rem;
		}

		// checkbox for toggling menu
		input#menu_toggle {
			display: none;

			&:checked ~ nav {
				opacity: 1;
				transition: all 0.3s;
				pointer-events: auto;
			}
		}

		> label {
			display: inline-block;
			width: @size;

			svg {
				width: 100%;
				display: inline-block;
				fill: @color_dark;
				max-height: @size;
			}

			span#hidden_menu_text {
				position: absolute;
				left: -10000px;
				overflow: hidden;
				width: 1px;
				height: 1px;
			}
		}

		// menu items container
		> nav {
			position: fixed;
			top: 100%;
			right: 0;
			width: 100vw;
			padding: 2px;
			box-sizing: border-box;

			opacity: 0;
			pointer-events: none;

			background-color: fade(@color_dark, 90);
			box-shadow: 0px 2px 3px fade(@color_dark, 50);
			transition: all 0.3s;

			form {
				padding: 0.5rem;
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				label {
					width: 75%;

					input {
						width: 90%;
						padding: 0.5rem 0.5rem;
						border: 1px solid transparent;
						border-radius: 3px;
						display: block;
						margin: 0 auto;
						transition: all 0.5s;

						background-image: url(../images/search_icon.svg);
						background-size: 2rem auto;
						background-repeat: no-repeat;
						background-position: 5% center;
						padding-left: 3rem;
						transition: all 0.3s;

						html[dir=rtl] & {
							background-position: 95% center;
							padding-left: 0;
							padding-right: 3rem;
						}

						&:focus {
							border: 1px solid @color_green;
							transition: all 0.5s;
						}
					}
				}

				button {
					padding: @button_padding;
					border: 1px solid lighten(@color_dark, 80);
					border-radius: 0.5rem;

					color: @color_dark;
					cursor: pointer;
					background-color: lighten(@color_dark, 90);
					text-decoration: none;
					transition: all 0.3s;
				}
			}

			// menu items
			a {
				display: block;
				padding: 0.5em;

				color: @color_bright;
				text-align: left;
				text-decoration: none;
				line-height: 1;
				cursor: pointer;

				html[dir=rtl] & {
					text-align: right;
				}

				svg {
					display: inline-block;
					vertical-align: middle;
					width: 2.2rem;
					height: 2.2rem;
					margin-right: @header_spacing / 2;
					fill: currentColor;

					html[dir=rtl] & {
						margin-right: 0;
						margin-left: @header_spacing / 2;
					}
				}

				// menu section colors
				&.program {
					color: @color_program;
				}

				&.courses {
					color: @color_courses;
				}

				&.registration {
					color: @color_registration;
				}

				&.contact {
					color: @color_contact;
				}

				// allow highlight only on links with href
				&.contact:active {
					color: @color_bright;
					background-color: @color_contact;
					transition: all 0.3s;
				}

				// custom inner menu highliths
				&.program + nav a:active {
					background-color: darken(@color_program, 20);
					transition: all 0.3s;
				}

				&.courses + nav a:active {
					background-color: darken(@color_courses, 20);
					transition: all 0.3s;
				}

				&.registration + nav a:active {
					background-color: darken(@color_registration, 20);
					transition: all 0.3s;
				}
			}

			// second level menus
			nav {
				display: none;

				&.active {
					display: block;
				}

				a {
					display: block;
					padding: 0.5em;
					padding-left: 2.5em;

					html[dir=rtl] & {
						padding-left: 0;
						padding-right: 2.5em;
					}
				}
			}

			div.language_menu {
				margin-top: 1rem;

				> a {
					display: inline-block;
					width: 45%;
					text-align: center;
					color: @color_dark;
					background-color: @color_bright;
					transition: all 0.3s;

					&:not(.active) {
						background-color: initial;
						color: @color_bright;
					}

					&:focus,
					&:active {
						text-decoration: none;
					}
				}
			}
		}
	}
}
