/**
 * Main Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@import (reference) 'common.less';
@import (reference) 'stock/functions.less';
@import 'fonts.less';
@import 'animations.less';
@import 'header.less';
@import 'content.less';
@import 'footer.less';

@import (css) 'stock/copyright.css';


body {
	background-color: @color_bright;

	color: @color_dark;
	font-family: 'open-sans-regular', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
	font-family: 'open-sans-bold', Arial, sans-serif;
}

input,
select,
textarea,
button {
	font-weight: 400;
	font-family: 'open-sans-regular', Arial, sans-serif;
}

h2,
h3 {
	text-align: center;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}
