/**
 * Main Style Sheet
 * Yuni Program
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@import (reference) 'common.less';
@import (reference) 'stock/functions.less';
@import 'fonts.less';
@import 'animations.less';
@import 'header_mobile.less';
@import 'content_mobile.less';
@import 'footer_mobile.less';

@import (css) 'stock/copyright_mobile.css';


body {
	background-color: @color_bright;

	color: @color_dark;
	font-family: 'open-sans-regular', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
	font-family: 'open-sans-bold', Arial, sans-serif;
}

input,
select,
textarea,
button {
	font-weight: 400;
	font-family: 'open-sans-regular', Arial, sans-serif;
}

h1 {
	padding: 0.5rem;
	background-color: @color_green;

	color: @color_dark;
	text-align: center;
}

h2,
h3 {
	text-align: center;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}

p img {
	max-width: 100%;
}
